<app-header title="Movimientos"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agregar movimiento (demo)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-segment [(ngModel)]="tipo">
        <ion-segment-button value="ingreso">
          <ion-label>Ingreso</ion-label>
        </ion-segment-button>
        <ion-segment-button value="egreso">
          <ion-label>Egreso</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-list>
        <ion-item>
          <ion-input
            label="Descripción"
            labelPlacement="floating"
            placeholder="Ej: Sueldo / Almuerzo"
            [(ngModel)]="description">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Categoría"
            labelPlacement="floating"
            placeholder="Comida, Transporte, etc."
            [(ngModel)]="category">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            type="number"
            label="Monto"
            labelPlacement="floating"
            placeholder="0"
            [(ngModel)]="amount">
          </ion-input>
        </ion-item>
      </ion-list>

      <ion-button expand="block" (click)="agregar()">Agregar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="lista.length">
    <app-movement-item
      *ngFor="let m of lista"
      [description]="m.description"
      [category]="m.category"
      [amount]="m.amount"
      [type]="m.type">
    </app-movement-item>
  </ion-list>

  <ion-text *ngIf="!lista.length" color="medium">
    <p class="ion-text-center">Sin movimientos por ahora.</p>
  </ion-text>
</ion-content>
