<app-header title="Reportes"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen (demo)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Gasto más frecuente</ion-label>
          <ion-badge slot="end" color="tertiary">Comida</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Total Ingresos</ion-label>
          <ion-note slot="end">$0</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Total Egresos</ion-label>
          <ion-note slot="end">$0</ion-note>
        </ion-item>
      </ion-list>
      
    </ion-card-content>
  </ion-card>
</ion-content>
