<ion-content fullscreen class="login-content">
  <div class="login-wrapper">
    <div class="logo-container animate__animated animate__bounceInDown">
      <div class="logo-circle animate__animated animate__pulse animate__infinite">
        <ion-icon name="cash-outline" class="logo"></ion-icon>
      </div>
      <h1 class="app-title">SmartCash</h1>
      <p class="subtitle">Gestiona tu dinero </p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" 
          class="login-form animate__animated animate__fadeInUp">
      <ion-item class="input-item glass animate__animated animate__fadeInLeft">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <p class="error-text" *ngIf="email?.invalid && email?.touched">Email inválido.</p>

      <ion-item class="input-item glass animate__animated animate__fadeInRight">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [type]="passwordType" formControlName="password"></ion-input>
        <ion-icon [name]="passwordIcon" slot="end" (click)="togglePassword()" class="eye-icon"></ion-icon>
      </ion-item>
      <p class="error-text" *ngIf="password?.invalid && password?.touched">Contraseña requerida.</p>

      <ion-button expand="block" type="submit" 
                  class="login-btn animate__animated animate__pulse animate__infinite">
        Iniciar Sesión
      </ion-button>

      <div class="links animate__animated animate__fadeInUp animate__delay-1s">
        <a href="#">¿Olvidaste tu contraseña?</a>
        <a href="#">Crear cuenta</a>
      </div>
    </form>
  </div>
</ion-content>
