<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Animaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--Animación desde Angular Material-->
  <mat-spinner></mat-spinner>
  <br>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <br>
  <!--Animación desde Ionic-->
  <ion-card>
    <ion-card-content>
      Card A
    </ion-card-content>
  </ion-card>
    <ion-card>
    <ion-card-content>
      Card B
    </ion-card-content>
  </ion-card>
    <ion-card>
    <ion-card-content>
      Card C
    </ion-card-content>
  </ion-card>
    <ion-card>
    <ion-card-content>
      Card D
    </ion-card-content>
  </ion-card>
  <br>
  <h1 #animar1>Hola</h1>
</ion-content>