<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" [routerLink]="['/tabs/inicio']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movimientos" [routerLink]="['/tabs/movimientos']">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Movimientos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reportes" [routerLink]="['/tabs/reportes']">
      <ion-icon name="bar-chart"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
